.container {
  /* border: 2px solid black; */
}
.categoryWrapper {
  /* border: 1px solid black; */

  margin-bottom: 3rem;
}
.categoryWrapper > p {
  /* text-align: center; */
  /* text-decoration: underline; */
  font-size: 24px;
  /* font-family: var(--font-heading); */
  /* font-weight: 900; */
  font-weight: 400;
  color: var(--color-text);
  text-transform: capitalize;
}

@media screen and (min-width: 700px) {
  .categoryWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .categoryWrapper > p {
  }
  .categoryWrapper > div {
    width: 50%;
  }
  .LaureateWrapper {
    width: 100%;
  }
}
