.container {
  height: 100px;
  /* padding: 10px 20px; */
  padding: 4rem;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container img {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .container {
    padding: 4rem 6rem;
    /* justify-content: flex-start; */
  }
}
